* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: verdana, Arial, Helvetica;
}

.background-image, .content.blur{
  background-image: linear-gradient(
        rgba(9,36,64,0.7) 0%,
        rgba(9,36,64,0.1) 50%,
        rgba(9,36,64,0.7) 100%),
        url("https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-attachment: fixed;
}

.background-image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.content p {
  filter: blur(0px);
}

.content {
  width: 400px;
  height: 400px;
  padding :40px;
}

.content.blur {
  filter: blur(10px);
  position: absolute;
  z-index: 1;
}

.content.not-blur {
  background-color: rgba(0,0,0,0.13);
  z-index: 999;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content.not-blur h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 30px;
  color: #fff;
}

.content.not-blur form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  min-width: 300px;
  max-width: 450px;
}

.content.not-blur form input {
  display: block;
  width: 300px;
  margin: 10px auto;
  padding: 15px;
  background: rgba(0,0,0,0.2);
  color: #fff;
  border: 0;
}

.content.not-blur form input::placeholder {
  color: #fff;
}

.content.not-blur form button {
  background: #ec901d;
  border: 0;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  width: 300px;
  margin: 20px auto;
  display: block;
  cursor: pointer;
}
